@font-face {
    font-family: 'charm';
    src: url('../font/charm/charm-regular-webfont.woff2') format('woff2'),
         url('../font/charm/charm-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
