// Sticky footer
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.font-charm {
  font-family: charm;
}

.place-center {
  display: grid;
  place-items: center;
}

.site-hero {
  margin-bottom: $spacer-medium;
}

.site-footer {
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 0;
  margin-right: $spacer-small;
  margin-bottom: $spacer-small;
  margin-left: $spacer-small;
}
