// Sticky footer
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.place-center {
  display: grid;
  place-items: center;
}

.site-footer {
  grid-row-start: 2;
  grid-row-end: 3;
  margin: $spacer-small;
}
