.christmastree {
  position: relative;
  left: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(0px 10px 5px rgba(0,0,0,0.3));
  transform-origin: center bottom;
  transform: skew(-2deg);
  animation: 10s ease-in-out sway-in-the-wind infinite;


    &__star {
      width: 35px;
      height: 35px;
      margin-bottom: -5px;
      background-color: #FCE415;
      clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }

    &__triangle {
      width: 100px;
      height: 50px;
      background-color: #0BC917;
      clip-path: polygon(35% 0, 66% 0, 100% 100%, 0% 100%);

      &:nth-child(2) {
        width: 75px;
        height: 50px;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%); // triangle
        position: relative;
      }
    }

    &__trunk {
      width: 20px;
      height: 40px;
      background-color: #705F2A;
    }
}

.star-filter {
  filter: drop-shadow(0px 0px 5px rgba(252, 228, 21, 1));
  animation: 1s starshadow infinite;
}

// Star shadow on top of the tree
@keyframes starshadow {
  0% {
    filter: drop-shadow(0px 0px 5px rgba(252, 228, 21, 1));
  }
  50% {
    filter: drop-shadow(0px 0px 5px rgba(252, 228, 21, .2));
  }
  100% {
    filter: drop-shadow(0px 0px 5px rgba(252, 228, 21, 1));
  }
}

// Make the tree sway in the wind
@keyframes sway-in-the-wind {
  0%, 100% {
    transform: skew(-2deg);
  }
  50% {
    transform: skew(5deg);
  }
}
