.share-wish {
  [class*="btn"] {
    color: $white;
    text-decoration: none;
  }

  &__link {
    display: flex;
    flex-direction: column;
    input {
      color: $gray-900;
    }
  }
  .share-wish__social {

  }
}
