.wishcard-submit {
  align-self: center;
}

.wishcard-share {
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: $spacer-medium;
  opacity: 0;
  transform: translateX(-100000000px);

  &__link {
    display: flex;
    flex-direction: column;
    input {
      color: $gray-900;
    }
  }

  &__link {
    margin-bottom: 0;
  }

  &__social {

    @include respond-to("small-up") {
      margin-top: 0;
    }
  }
}
