<?php
/**
 * Database settings, ORM is Eloquent
 */
$databaseSettings = [
  'driver' => 'mysql',
  'host' => '127.0.0.1',
  'database' => 'wish_card_2019',
  'username' => 'databaseuser',
  'password' => 'databasepassword',
  'charset'   => 'utf8',
  'collation' => 'utf8_unicode_ci',
  'prefix'    => '',
];
